<div class="container-fluid">
    <img class="" src="http://mediad.publicbroadcasting.net/p/wglt/files/styles/x_large/public/201603/160324rainofColor.jpg">
</div>

<div class="container">
    <div class="row">
    </div>
</div>